
  .text-box h3:contains('Пофарбуйте мене в рожевий колір') {
    color: pink;
  }


  .text-box p:not([id]):contains('Даний елемент має залишитись неоформленим') {
    /* Залишаємо їх неоформленими, тобто без додаткових стилів */
  }


  .text-box #greycol:contains('Пофарбуйте мене в сірий колір') {
    color: grey;
  }


  .text-box div:contains('Пофарбуйте мене в червоний колір') {
    color: red;
  }

  .text-box p:contains('Пофарбуйте мене в зелений колір') {
    color: green;
  }

  .text-box p.yellow:contains('Пофарбуйте мене в жовтий колір') {
    color: yellow;
  }


